<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Modbus4JTestProjectSrc/modbus4J-src/com/serotonin/modbus4j/msg/ModbusResponse.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.serotonin.modbus4j.msg.ModbusResponse"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Modbus4JTestProjectSrc"/>
</launchConfiguration>
